.card{
    border: 5px solid black;
}
.container{
    display: flex;
    flex-direction: column;
    
    h1{
        text-align: center;
        margin-top: 50px;
    }
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}